* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  min-height: 0;
}

window#waybar {
  background-color: #000000;
  border-bottom: 3px solid #333333;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
}

#workspaces button {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: none;
}

#disk {
  margin-left: -50px;
}

#clock,
#cpu,
#memory,
#temperature,
#tray {
  padding: 0 10px;
  margin: 0 3px;
  color: #ffffff;
}

#clock {
  font-weight: bold;
}

#cpu {
  color: #2ecc71;
}

#memory {
  color: #9b59b6;
}

#temperature {
  color: #f39c12;
}

#temperature.critical {
  color: #eb4d4b;
}

#tray {
  background-color: #2980b9;
}
